*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  .styled-table {
      border-collapse: collapse;
      margin: auto;
      font-size: 0.9em;
      font-family: sans-serif;
      max-width: 100%;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .styled-table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
    }
    .styled-table th,
    .styled-table td {
      padding: 12px 15px;
    }
    .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
    }
    .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
    .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
    }
    .btn {
      border: none;
      color: white;
      padding: 5px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 5px;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .btn-edit1 {
      background-color: #008cba;
    }
    .btn-delete1 {
      background-color: #f44336;
    }
    .btn-view1 {
      background-color: #e7e7e7;
      color: black;
    }
    .btn-contact {
      background-color: #e82764;
      margin-bottom: 10px;
    }
    
    




    /* Mobile Styles */
@media screen and (max-width: 767px) {
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .styled-table thead {
    display: none;
  }

  .styled-table tbody tr {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #ddd;
  }

  .styled-table tbody td {
    display: block;
    text-align: left;
    padding: 10px;
  }

  .styled-table tbody td:before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  .styled-table tbody td:last-child {
    text-align: center;
  }

  .btn {
    margin: 5px;
  }
}
.whatsapp{
    color: #f6faf7 ;
    background-color: #4FCE5D;
    width: 45px;
    height: 35px;
}
.whatsapp:hover{
    color: black !important;
    background-color: #55ac9a;
}
.fa-whatsapp{
    color: white;
}
.fa-whatsapp:hover{
    color: black;
}
.call{
    color: #f6f8f8;
    background-color: #008cba;
    width: 45px;
    height: 35px;
}
.remark{
    color: #ffff;
    background-color: #c2ba4e;
    width: 45px;
    height: 35px;

}