.card {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    align-content: center;
    margin: 0 auto;
  }
  .card-header {
    height: 60%;
    background: #5d6770;
    color: white;
    text-align: center;
  }
  .card-header p {
    font-size: 20px;
  }
  .container {
    padding: 4px 16px;
  }
  

  .card1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    align-content: center;
    margin: 0 auto;
  }
  .card1-header {
    height: 100%;
    background: #8e98a1;
    color: white;
    text-align: center;
  }
  .card1-header p {
    font-size: 20px;
  }
  .btn-edit1{
    color: white;
    background-color: #007bff;
  }
  .btn-edit1:hover{
    color: black;
    background-color: #0056b3;
  }
  .btn-edit11{
    width: 80px;
    color: white;
    background-color: #007bff;

  }
  .btn-edit11:hover {
    color: black;
    background-color: #0056b3;
  }